[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.5"
asgiref = "==3.5.2"
astroid = "==2.11.5"
atomicwrites = "==1.4.0"
attrs = "==21.4.0"
colorama = "==0.4.4"
dill = "==0.3.5.1"
iniconfig = "==1.1.1"
isort = "==5.10.1"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.7.0"
platformdirs = "==2.5.2"
pluggy = "==1.0.0"
py = "==1.11.0"
pyparsing = "==3.0.9"
sqlparse = "==0.4.2"
tomli = "==2.0.1"
tomlkit = "==0.11.0"
tzdata = "==2022.1"
wrapt = "==1.14.1"
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.3"

[dev-packages]
pylint = "==2.14.1"
pytest = "==7.1.2"
pylint-django = "==2.5.3"

[requires]
python_version = "3.10"
